html {
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
font-family: 'Noto Serif', serif;
}
.typewriter h1 {
  text-shadow: 3px 4px 4px black;
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
    font-family: 'Work Sans', sans-serif;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #5b575e }
}

.contact-bar{
  background-color: #353237;
  text-shadow: 1px 1px 1px black;
  display: inline-flex;
  width: 100%;
  padding: 10px;
  color: white;
}
.phone{
  text-align: right;
  width: 100%;
  margin-right: 30px;
}
.email{
  text-align: left !important;
  width: 100%;
}
/* Dropdown Button */
.navbar1{
  width: 100%;
  background-color: black;
  height: 50px;
  text-decoration: none;
  display: block;
  box-shadow: 0px 1px 2px;
}
.parallax {
  /* The image used */
  background-image: url("../images/para1.jpg");
  /* Set a specific height */
  height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.parallax2 {
  /* The image used */
  background-image: url("../images/para2.jpg");
  /* Set a specific height */
  height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.parallax3 {
  /* The image used */
  background-image: url("../images/para3.jpg");
  /* Set a specific height */
  height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.no-parallax{
  background-color: white;
  height: 400px;
}
.menu-item{
  text-decoration: none;
  padding: 20px;
  color: white;
}
.menu-item:hover{
  text-decoration: none;
  padding: 20px;
  background-color: white;
  color: black !important;
  transition: 300ms;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  transition: 300ms;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: 300ms;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
  transition: 300ms;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black; text-decoration: none; color: white; transition: 300ms;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; transition: 300ms;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .menu-item{background-color: white; color: black !important; transition: 300ms;}

/*Boxes for lab are here*/
.box{
  height: 200px;
  width: 200px;
  border: 1px solid lightgrey;
  text-align: center;
  color: black;
  font-size: 22px;
  font-family: 'Work Sans', sans-serif;
    transition: 500ms;
}
.box:hover{
  background-color: grey;
  color: white;
  transition: 500ms;
}
.boxText{
  margin-top: 80px;
}